<% layout('layouts/boilerplate') %>

<h1 class="title mt-3 mb-6">Details</h1>

<form action="/admin/requests/<%= cinema._id %>" method="POST">
    <div class="field">
        <label class="label" for="name">Name movie theater</label>
        <div class="control">
          <input id="name" name="cinema[name]" class="input disable" type="text" placeholder="Name of the movie theater" value="<%= cinema.name ? cinema.name : '' %>">
        </div>
    </div>
    <div class="field">
        <label class="label" for="location">Location</label>
        <div class="control">
          <input id="location" name="cinema[location]" class="input disable" type="text" placeholder="Location of the cinema" value="<%= cinema.location ? cinema.location : '' %>">
        </div>
    </div>
    <div class="field">
        <label class="label" for="description">Description</label>
        <div class="control">
          <textarea id="description" name="cinema[description]" class="textarea counter-box disable" placeholder="Catchy description of the cinema" maxlength="192"><%= cinema.description ? cinema.description : ''%></textarea>
        </div>
      </div>
      
      <% if(cinema.owner) { %>
        <div class="field">
            <label class="label" for="owner">Owner</label>
            <div class="control">
                <input id="owner" name="cinema[owner]" class="input disable" type="text" placeholder="Who owns this place" value="<%= cinema.owner ? cinema.owner : '' %>">
            </div>
        </div>
    <% } %>
        
    <div class="field">
        <label class="label" for="admin">Admin Id</label>
        <div class="control">
            <input id="admin" name="cinema[admin]" class="input disable" type="text" placeholder="Admin" value="<%= cinema.admin ? cinema.admin._id : '' %>" >
        </div>        
    </div>

    <div class="field">
        <label class="label" for="admin">Admin username</label>
        <div class="control">
            <input id="admin" class="input disable" type="text" placeholder="Admin" value="<%= cinema.admin ? cinema.admin.username : '' %>" >
        </div>        
    </div>

    <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
            <input id="email" name="cinema[email]" class="input disable" type="email" placeholder="Email" value="<%= cinema.email ? cinema.email : '' %>" >
        </div>        
    </div>
    
    <div class="field">
        <label class="label" for="phone">Phone</label>
        <div class="control">
            <input id="phone" name="cinema[phone]" class="input disable" type="text" placeholder="Phone number" value="<%= cinema.phone ? cinema.phone : ''%>" >
        </div>    
    </div>
    

    <% if(cinema.image) { %>    
        <div class="field">
            <label class="label">Image</label>
            <figure class="image is-3by1 mt-3">
                <img src="<%= cinema.image.url %>" alt="<%= cinema.name %>" class="hero-image">
            </figure>
        </div>
        <input type="text" name="image[url]" value="<%= cinema.image.url %>" hidden>
        <input type="text" name="image[filename]" value="<%= cinema.image.filename %>" hidden>

    <% } %>

    <div class="control mt-6">
        <button class="button is-primary">APPROVE</button>
      </div>
</form>
<form action="/admin/requests/<%= cinema._id %>?_method=DELETE" method="POST" class="mt-2">
                            <button class="button is-danger">DELETE</button>
</form>