<% if(success && success.length) { %>
    <div class="notification is-success">
        <button class="delete" id="hide-flash"></button>
        <%= success %>
    </div>
<% } %>

<% if(error && error.length) { %>
    <div class="notification is-danger">
        <button class="delete" id="hide-flash"></button>
        <%= error %>
    </div>
  <% } %>

  <% if(cinemaWarning && cinemaWarning.length) { %>
    <div class="notification is-danger">
        <!-- <button class="delete" id="hide-flash"></button> -->
        <p><%= cinemaWarning[0].message %></p>
        <p class="is-size-4"><%= cinemaWarning[0].cinemaname %></p>
        <div class="buttons mt-3">
          <form action="/admin/requests/<%= cinemaWarning[0].id %>?_method=DELETE" method="POST">
            <button class="button">Yes</button>
          </form>
          <button class="button ml-3 has-background-dark has-text-white-ter" id="hide-flash-warning">No</button>
        </div>
    </div>
  <% } %>

  <% if(userWarning && userWarning.length) { %>
    <div class="notification is-danger">
        <!-- <button class="delete" id="hide-flash"></button> -->
        <p><%= userWarning[0].message %></p>
        <p class="is-size-4"><%= userWarning[0].username %></p>
        <div class="buttons mt-3">
          <form action="/admin/users/<%= userWarning[0].id %>?_method=DELETE" method="POST">
            <button class="button">Yes</button>
          </form>
          <button class="button ml-3 has-background-dark has-text-white-ter" id="hide-flash-warning">No</button>
        </div>
    </div>
  <% } %>