<% layout('layouts/boilerplate') %>

<h1 class="title mt-3 mb-6">Overview</h1>


<div class="columns is-multiline">
    <% for(let cinema of cinemas) { %>
        <div class="column is-one-third">
            <a href="/kino/<%= cinema._id %>" class="open-link">
                <div class="card open-card">
                    <div class="card-image">
                    <figure class="image is-4by3 open-image">
                        <img src="<%= cinema.image ? cinema.image.url : 'https://images.unsplash.com/photo-1574267432553-4b4628081c31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2062&q=80' %>" alt="<%= cinema.name %>" class="open-effect">
                        <div class="content stars-holder">
                            <% 
                            let rating = '2.5';
                            if(cinema.reviews && cinema.reviews.length > 1) {
                                const ratings = cinema.reviews.map(review => review.rating);
                                rating = ratings.reduce((accumulator, currentValue) => accumulator + currentValue) / ratings.length; 
                            } %>
                            <div class="stars" style="--rating: <%= rating ? rating : '0' %>;" aria-label="Rating of this movie theater is <%= rating %> out of 5." title="<%= rating ? rating : '0' %>">
                            </div>
                        </div>
                    </figure>
                    </div>
                    <div class="card-content">      
                    <div class="content">
                        <h2 class="title is-4 mb-0"><%= cinema.name %></h2>
                        <p class="has-text-weight-light"><%= cinema.location %></p>
                        <p><%= cinema.description %></p>
                    </div>
                    </div>
                </div>
            </a>
        </div>
    <% } %>