<% layout('layouts/boilerplate') %>

<div id="delete-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <!-- Any other Bulma elements you want -->
      <div class="notification is-danger">
        <p>Are you sure you want to delete this cinema:</p>
        <p class="is-size-4 mt-2"><strong><%= cinema.name %></strong></pclass>
        <div class="buttons mt-5">
            <form action="/kino/<%= cinema._id %>?_method=DELETE" method="POST" class="mr-2">
                <button class="button is-dark">Yes</button>
            </form>
            <button class="button is-light modal-close-btn">No</button>
        </div>
      </div>
    </div>
    <button id="delete-modal-close" class="modal-close is-large modal-close-btn" aria-label="close"></button>
  </div>

<figure class="image is-3by1 mt-3">
    <img src="<%= cinema.image ? cinema.image : 'https://images.unsplash.com/photo-1574267432553-4b4628081c31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2062&q=80' %>" alt="<%= cinema.name %>" class="hero-image">
</figure>

<div class="columns">
    <div class="column">
        <h1 class="title mt-6"><%= cinema.name %></h1>
    </div>
    <div class="column">
        <div class="content stars-holder">
            <% 
            let rating = '2.5';
            if(cinema.reviews && cinema.reviews.length > 1) {
                const ratings = cinema.reviews.map(review => review.rating);
                rating = ratings.reduce((accumulator, currentValue) => accumulator + currentValue) / ratings.length; 
            } %>
            <div class="stars" style="--rating: <%= rating %>;--star-color:hsl(0, 0%, 71%);" aria-label="Rating of this movie theater is <%= rating %> out of 5."  title="<%= rating ? rating : '0' %>">
            </div>
        </div>
    </div>
</div>

<% if(currentUser && (cinema.admin.equals(currentUser._id) || currentUser.roles.includes('admin'))) { %>
    <div class="buttons">
    <a href="/kino/<%= cinema._id %>/edit" class="button is-info">Edit</a>
    <button id="delete-modal-open" class="button is-danger">Delete</button>
  </div>
<% } %>

<h2 class="title is-4 mt-6">Now showing:</h2>

<div class="columns is-multiline">
    <% for (let movie of movies) { %>
        <div class="column is-one-quarter">
        <% if(currentUser && (cinema.admin.equals(currentUser._id) || currentUser.roles.includes('admin'))) { %>
            <a href="/kino/<%= cinema._id %>/movie/<%= movie._id %>" class="open-link">
                <% } %>
                <div class="card open-card">
                    <div class="card-image open-image">
                        <div class="open-button">
                            <button class="button is-danger">Delete</button>
                        </div>
                    <figure class="image is-4by5">
                        <img src="<%= movie.image ? movie.image : 'https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80' %>" class="cover-image open-effect">
                    </figure>
                    </div>
                    <div class="card-content">      
                    <div class="content">
                        <h2 class="title is-6"><%= movie.title %></h2>
                        <p><%= movie.duration %> min.</p>
                        <p><%= movie.genre %></p>
                    </div>
                    </div>
                </div>
        <% if(currentUser && (cinema.admin.equals(currentUser._id) || currentUser.roles.includes('admin'))) { %>
            </a>    
        <% } %>
        </div>
    <% } %>
    
</div>

<% if(currentUser && (cinema.admin.equals(currentUser._id) || currentUser.roles.includes('admin'))) { %>
    <div class="columns">
        <div class="column is-one-quarter">
            <a class="button is-primary" href="/kino/<%= cinema._id %>/movie/">Add movie</a>
        </div>
    </div>
<% } %>

<h2 class="title is-4 mt-6">Reviews:</h2>

<% if (currentUser && !currentUser.roles.includes('cinemaAuthor')) { %>
    <div class="columns">
        <div class="column is-one-quarter">
            <a class="button is-primary" href="/kino/<%= cinema._id %>/review/">Add review</a>
            </div>
            </div>
<% } %>

<%  
let sortedReviews = [...cinema.reviews]
if(cinema.reviews && cinema.reviews.length > 1) {
    sortedReviews = cinema.reviews.sort((a, b) => new Date(b.date) - new Date(a.date));
} %>

<% for (let review of sortedReviews) { %>
    <div class="box">
        <p class="is-inline"><strong><%= review.author.username %> - </strong></p>
        <div class="stars is-inline" style="--rating: <%= review.rating ? review.rating : '2,5' %>;--star-color:hsl(0, 0%, 71%);" aria-label="Rating of this movie theater is <%= review.rating ? review.rating : '2,5' %> out of 5."  title="<%= review.rating ? review.rating : '0' %>"></div>
        <p><%= review.body %></p>
        <% let date;
        if(review.date) {
            date = new Intl.DateTimeFormat(['ban', 'id']).format(review.date);
        } %>
        <p class="has-text-weight-light"><%= date ? date : '01/01/2022' %></p>
        <% if(currentUser && review.author.equals(currentUser._id)) { %>
            <a href="/kino/<%= cinema._id %>/review/<%= review._id %>" class="button is-info mt-3">Edit</a>
        <% } %>
    </div>
<% } %>

<footer class="footer mt-6">
    <div class="columns">
        <div class="column">
            <div class="content">
                <h2 class="title is-4">Contact:</h2>
                <p><%= cinema.location %></p>
                <p><a href="tel:<%= cinema.phone %>"><%= cinema.phone %></a></p>
                <p><a href="mailto:<%= cinema.email %>"><%= cinema.email %></a></p>
            </div>
        </div>
        <div class="column">
            <figure class="image is-5by4">
                <img src="https://images.unsplash.com/photo-1522678073884-26b1b87526e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2735&q=80" class="cover-image">
            </figure>
        </div>
    </div>
  </footer>